ACE.Workspace.RISFundation/FSFB_MessageSet/importFiles/ACK_RIS_ORMOUT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--  Created by Miguel Angel Castillo Camacho - IBM - 29/04/2011 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://co/org/fsfb/HIS_ORMOUT/impl"
	xmlns:tns="http://co/org/fsfb/HIS_ORMOUT/impl" elementFormDefault="qualified">
	<xs:element name="ACK_RIS">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MSH_ORU_ID" type="xs:string" />
				<xs:element name="SRV_Message" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>