ACE.Workspace/FSFB_MessageSet/importFiles/co/org/fsfb/hisdfttable/hisdftacktable/impl/HIS_DFTACKTable.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema  targetNamespace="http://co/org/fsfb/hisdfttable/HIS_DFTACKTable/impl/" xmlns:NS1="http://co/org/fsfb/hisdfttable/HIS_DFTACKTable/impl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="DFT_ACK">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="SRV_Message" type="xsd:string" minOccurs="0" />
                <xsd:element name="MSH_DFT_ID" type="xsd:string" minOccurs="0" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>